<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>The password for <%= @location %> has been changed to: </p>
    <h2><%= @password %></h2>
    <p>You will need this password to access the Internet.</p>
  </body>
</html>
