<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey,</p>
    <p><%= @device_count %> new <%= @type %> box<%- if @device_count > 1 %>es<%- end %> have been imported into <%= @location_name %>.</p>
    <p>Thanks!</p>
  </body>
</html>
