<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello!</p>
    <p>Could we please just ask you to <a href="<%= @link %>">click here</a> to confirm your email address?</p>
    <p>That's very kind of you, thank you.</p>
    <p>Have a good day!</p>
  </body>
</html>
