<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there,</p>
    <p>Please find attached your requested data report.</p>
    <p>Enjoy it!</p>
  </body>
</html>