<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there,</p>
    <p>This is just a heads up that a user has chosen to delete all their data from your location, <%= @location_name %>.</p>
    <p>I'm afraid for obvious reasons we can't really tell you anything more than that about them, but we're quite sure it was nothing personal.</p>
    <p>Have a top day.</p>
  </body>
</html>